.add {
    background-color: beige;
    margin-top: 40px;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
}

label 
{
    display: inline-block;
    width:110px;
}