.staff {
    background-color: wheat;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 300px;
}

.Tag {
    background-color:wheat;
    padding-top: 4px;
    color: gray;
    align-items: center;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    margin-left: 14px;
    margin-right: 14px;
}

.Tag :hover{
    background-color: blue;
}